extends layout

block content
  style. 
    .content-heading{
       text-align: center; 
    }
    
  .pb-2.mt-2.mb-4
    h3.content-heading 404 Page not found
    h4.content-heading It's odd, we are all about finding places but we can't seem to find this page
    
